.footer{
    height: 90px;
    max-width: 940px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-content: center;
}
.copyright{
    font-size: 14px;
    font-size: #555555;
    margin-right: 140px;
    margin-top: 40px;
}
.footer__icon{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.f__icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        background-color: $golden;
    }
}
.f_twitter{
    background-image: url('images/Twitterwhite.png');
}
.f_facebook{
    background-image: url('images/Facebookwhite.png');
}
.f_pint{
    background-image: url('images/Pinterestwhite.png');
}
.f_google{
    background-image: url('images/Google+white.png');
}
@media screen and (max-width: 960px){
    .copyright{
        margin-right: 15%;
    }
}
@media screen and (max-width: 768px){
    .footer{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .copyright{
        margin-right: 0;
    }
    .f__icons{
        margin-bottom: 40px;
    }
}