.team{
    @include wrapper;
}
.team__top{
    @include top;
    h2{
        @include header;
    }
    span{
        @include span;
        margin-bottom: 75px;
    }
}
.team__center{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tm__card{
    max-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 50px;
    .tm__photo{
        width: 220px;
        height: 220px;
        border-radius: 50%;
        background-color: black;
    }
    h3{
        font-size: 18px;
        margin: 0;
        margin-top: 30px;
        
    }
    span{
        font-size: 14px;
        color: $greytext;
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px){
    .team__center{
        flex-direction: column;
    }
    .tm__card{
        margin-right: 0;
    }
}
.tm__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    .tm__icon{
        width: 40px;
        height: 40px;
        background-image: url('images/Background.png');
        background-size: cover;
        margin: 15px 5px 0 5px;
        position: relative;
    }
}
.twitter::after{
    @include tm__icon;
    background-image: url('images/Twitter.png');
    
}
.facebook::after{
    @include tm__icon;
    background-image: url('images/Facebook.png');
}
.pint::after{
    @include tm__icon;
    background-image: url('images/Pinterest.png');
}
.google::after{
    @include tm__icon;
    background-image: url('images/Google+.png');
}
.tm__bottom{
    max-width: 500px;
    text-align: center;
    color: $greytext;
    font-size: 16px;
    margin: 0;
    margin-bottom: 115px;
}